.hero-main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px 211px;
}

.hero-left {
  flex: 1;
}

.hero-left h3 {
  font-weight: 700;
  font-size: 45px;
  margin-top: 20px;
}

.hero-left p {
  font-weight: 400;
  font-size: 14px;
  margin-top: 20px;
}

.delivery-section {
  background: #f6f6f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 20px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.delivery-section input {
  outline: none;
  border: none;
  background: rgba(246, 246, 246, 1);
  color: black;
  padding: 15px;
  border-radius: 20px;
}

.delivery-section button {
  outline: none;
  border: none;
  background: rgba(255, 83, 49, 1);
  cursor: pointer;
  font-weight: 700;
  color: white;
  padding: 15px 25px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.app-download {
  display: flex;
  margin-top: 20px;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(242, 235, 218, 1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.hero-right img {
  padding: 10px;
  height: 300px;
  width: 300px;
}

@media(max-width: 768px) {

  .hero-main{
    flex-direction: column;
    margin: 20px;
  }

  .hero-right{
    margin: 20px 0px;
  }

  .hero-right img{
    width: 100%;
  }
}
